.mousemoved {
    color: darksalmon;
}
.logo {
    position: absolute;
    left: 1000%;
    top: 1000%;
    width: 500px;
    height: 500px;
    margin-left: -64px;
    margin-top: -64px;
}

.rotated {
    transform: rotateY(180deg);
}