.mousemoved {
    color: darksalmon;
}
.logo {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 64px;
    height: 64px;
    margin-left: -64px;
    margin-top: -64px;
}

.rotated {
    transform: rotateY(180deg);
}