.mousemoved {
    color: darksalmon;
}
.logo {
    position: absolute;
    left: 100%;
    top: 100%;
    width: 400px;
    height: 400px;
    margin-left: -64px;
    margin-top: -64px;
}

.rotated {
    transform: rotateY(180deg);
}